{% extends 'base.html.twig' %}



{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
<h1 class="title my-5">Liste des cartes</h1>
{{ form_start(filter) }}
    {{ form_widget(filter) }}
    {{ form_end(filter) }}

{% for card in cards %}

<div class="card mb-3">
  <h3 class="card-header">{{ card.name}}</h3>
  <div class="card-body">
    <h5 class="card-title">Voici {{ card.name}}</h5>
 <img class="border" width="200" height="200" src="{{ asset('assets/images/' ~ card.image ) }}" alt="Image de la carte">
  </div>
  <div class="card-body">
    <p class="card-text">{{card.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
  <li class="list-group-item">Prix : {{ card.price}} €</li>
    <li class="list-group-item">Exemplaire : {{card.example}}</li>
    <li class="list-group-item">Date de sortie : {{ card.releaseDate|date('d/m/Y')}}</li>
    <li class="list-group-item">Date d'achat : {{ card.purchaseDate|date('d/m/Y')}}</li>
    {% if card.isOnSale == true %}
    <li class="list-group-item">En vente : oui </li>
    {% else %}
    <li class="list-group-item">En vente : non </li>
    {% endif %}
  </ul>
  <div class="card-body">
    <a class="btn btn-secondary" href="{{ path('showcard', {id: card.id}) }}">Voir la carte</a>
    <a class="btn btn-secondary" href="{{ path('app_mailer', {id: card.id}) }}">Proposer un prix</a>
    
  </div>
  </div>

{#<a href="{{ path('showcard', {id:card.id})}}">Voir la carte</a>#}


{% endfor %}
</div>
{% endblock %}
